@model About

<div class="page-header">
            <div class="page-header-content bg_image_header jarallax">
                <div class="container">
                    <h1 class="heading">About Flame</h1>
                </div>
            </div>
        </div>
			
		<div class="main-wrapper">
			<div class="about_top_sec">
				<div class="container">
					<div class="about_header">
						<div class="row">
							<div class="col-lg-5">
								<div class="about_header_title">
									<h1 data-aos="fade-right" data-aos-duration="1000">About Us</h1>
									<h3>@Model.Title</h3>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="about_header_desc">
									<p>@Html.Raw(Model.Text)
									</p>
								</div>
							</div>
						</div>
					</div>
					

					<div class="grillman_imgtext">
						<img src="~/images/about/grillman2.png" alt="" data-aos="fade-up" data-aos-duration="1000">
						<p>Flame Restaurant</p>
					</div>
				</div>
			</div>


			<div class="timeline section_sm bg_image_5">
				<div class="container">
					<div class="office_schedule">
						<img src="~/images/border_top.png" alt="">
					<div class="office_schedule_inner">
						<h6>Openning Hours</h6>
						<ul>
							<li> <span class="day">Monday</span> <span class="time">8.00-01.00</span></li>
							<li> <span class="day">Tuesday</span> <span class="time">8.00-01.00</span></li>
							<li> <span class="day">Wednesday</span> <span class="time">8.00-01.00</span></li>
							<li> <span class="day">Thursday</span> <span class="time">8.00-01.00</span></li>
							<li> <span class="day">Friday</span> <span class="time">8.00-01.00</span></li>
							<li> <span class="day">Saturday</span> <span class="time">8.00-01.00</span></li>
							<li> <span class="day">Sunday</span> <span class="time">8.00-01.00</span></li>
						</ul>
					</div>
					<img src="~/images/border_bottom.png" alt="">
					</div>
				</div>
			</div>

			<div class="clients">
				<div class="client_item">
					<div class="client_imgbox">
						<img class="primary" src="~/images/clients/client_1_1.png" alt="">
						<img class="secondary" src="~/images/clients/client_1_2.png" alt="">
					</div>
				</div>
				<div class="client_item">
					<div class="client_imgbox">
						<img class="primary" src="~/images/clients/client_2_1.png" alt="">
						<img class="secondary" src="~/images/clients/client_2_2.png" alt="">
					</div>
				</div>
				<div class="client_item">
					<div class="client_imgbox">
						<img class="primary" src="~/images/clients/client_3_1.png" alt="">
						<img class="secondary" src="~/images/clients/client_3_2.png" alt="">
					</div>
				</div>
				<div class="client_item">
					<div class="client_imgbox">
						<img class="primary" src="~/images/clients/client_4_1.png" alt="">
						<img class="secondary" src="~/images/clients/client_4_2.png" alt="">
					</div>
				</div>
				<div class="client_item">
					<div class="client_imgbox">
						<img class="primary" src="~/images/clients/client_5_1.png" alt="">
						<img class="secondary" src="~/images/clients/client_5_2.png" alt="">
					</div>
				</div>
			</div>
			
		</div>

