<div class="theme_slider_2">
			<div class="slider_slick">
				<div class="item">
					<div class="slide_item" style="background-image: url('images/slider/7.jpg');">
						<div class="container">
				<div class="slide_item_content">
					<div class="slide_item_text color_text">Exotic and Delicious</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="slide_item" style="background-image: url('images/slider/8.jpg')">
						<div class="container">
							<div class="slide_item_content">
								<div class="slide_item_text color_text">Exotic and Delicious</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slide_item" style="background-image: url('images/slider/9.jpg');">
						<div class="container">
							<div class="slide_item_content">
								<div class="slide_item_text color_text">Exotic and Delicious</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



			<div class="section_sm">
				<div class="container">
					<div class="section_header dark">
						<img src="../assets/images/title_back2.png" alt="">
						<h2 class="section_title">Restaurant Menu</h2>
						<h6 class="section_sub_title">Find your favourite meal from the delicious options we have</h6>
					</div>

					<div class="foodmenu_tab">
						<ul class="foodmenu_tab_button_group">
							<li class="foodmenu_tab_button">
								<a class="selected" href="#">
									<div class="tabicon">
										<img class="primary" src="../assets/images/menu/tabicon_1_1.png" alt=""/>
										<img class="secondary" src="../assets/images/menu/tabicon_1_2.png" alt=""/>
									</div>
									Main Course
								</a>
							</li>
							<li class="foodmenu_tab_button">
								<a href="#">
									<div class="tabicon">
										<img class="primary" src="../assets/images/menu/tabicon_2_1.png" alt=""/>
										<img class="secondary" src="../assets/images/menu/tabicon_2_2.png" alt=""/>
									</div>
									Steaks
								</a>
							</li>
							<li class="foodmenu_tab_button">
								<a href="#">
									<div class="tabicon">
										<img class="primary" src="../assets/images/menu/tabicon_3_1.png" alt=""/>
										<img class="secondary" src="../assets/images/menu/tabicon_3_2.png" alt=""/>
									</div>
									Snacks
								</a>
							</li>
							<li class="foodmenu_tab_button">
								<a href="#">
									<div class="tabicon">
										<img class="primary" src="../assets/images/menu/tabicon_4_1.png" alt=""/>
										<img class="secondary" src="../assets/images/menu/tabicon_4_2.png" alt=""/>
									</div>
									Desserts
								</a>
							</li>
							<li class="foodmenu_tab_button">
								<a href="#">
									<div class="tabicon">
										<img class="primary" src="../assets/images/menu/tabicon_5_1.png" alt=""/>
										<img class="secondary" src="../assets/images/menu/tabicon_5_2.png" alt=""/>
									</div>
									Drinks
								</a>
							</li>
						</ul>

						<div  class="foodmenu_tab_container">
							<div class="foodmenu_tab_info selected">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">01.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">02.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Banana Nut Pancakes</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">03.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Swiss Hash Browns</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">04.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Perfect Scrambled Eggs</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">05.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Sesame Noodles with Garlic</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">06.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Beer-Cheeseburger</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div>  

									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">07.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Spaghetti carbonara</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">08.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Grilled Cheese Crostini</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">09.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">10.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Roasted Veggie Chips</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">11.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">One-Pot Beef with Broccoli</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">12.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Pesto Chicken Bake</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div> 
								</div>
							</div>

							<div class="foodmenu_tab_info">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">01.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Banana Nut Pancakes</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">02.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">03.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Swiss Hash Browns</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">04.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Perfect Scrambled Eggs</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">05.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Beer-Cheeseburger</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">06.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Sesame Noodles with Garlic</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div>  

									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">07.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Spaghetti carbonara</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">08.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Grilled Cheese Crostini</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">09.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">10.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Roasted Veggie Chips</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">11.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">One-Pot Beef with Broccoli</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">12.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Pesto Chicken Bake</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div> 
								</div>
							</div>

							<div class="foodmenu_tab_info">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">01</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">02.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Banana Nut Pancakes</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">03.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Swiss Hash Browns</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">04.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Perfect Scrambled Eggs</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">05.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Sesame Noodles with Garlic</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">06.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Beer-Cheeseburger</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div>  

									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">07.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Grilled Cheese Crostini</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">08.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Spaghetti carbonara</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">09.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">10.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Roasted Veggie Chips</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">11.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">One-Pot Beef with Broccoli</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">12.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Pesto Chicken Bake</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div> 
								</div>
							</div>

							<div class="foodmenu_tab_info">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">01</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Perfect Scrambled Eggs</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">02.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Banana Nut Pancakes</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">03.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Swiss Hash Browns</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">04.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">05.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Sesame Noodles with Garlic</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">06.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Beer-Cheeseburger</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div>  

									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">07.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Spaghetti carbonara</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">08.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Grilled Cheese Crostini</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">09.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">10.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Roasted Veggie Chips</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">11.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">One-Pot Beef with Broccoli</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">12.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Pesto Chicken Bake</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div> 
								</div>
							</div>

							<div class="foodmenu_tab_info">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">01</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">02.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Banana Nut Pancakes</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">03.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Swiss Hash Browns</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">04.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Perfect Scrambled Eggs</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">05.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Sesame Noodles with Garlic</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">06.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Beer-Cheeseburger</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div>  

									<div class="col-lg-6 col-md-6">
										<div class="foodmenu_tab_content">
											<div class="menu_serial">07.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Grilled Cheese Crostini</div>
													<div class="line"></div>
													<div class="price">$ 180</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">08.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Chicken Avocado Sandwitch</div>
													<div class="line"></div>
													<div class="price">$ 110</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">09.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Spaghetti carbonara</div>
													<div class="line"></div>
													<div class="price">$ 220</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">10.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Roasted Veggie Chips</div>
													<div class="line"></div>
													<div class="price">$ 150</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">11.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">One-Pot Beef with Broccoli</div>
													<div class="line"></div>
													<div class="price">$ 130</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>

										<div class="foodmenu_tab_content">
											<div class="menu_serial">12.</div> 
											<div class="menu_item">
												<div class="menu_item_inner">
													<div class="name">Pesto Chicken Bake</div>
													<div class="line"></div>
													<div class="price">$ 154</div>
												</div>
												<p>Lorem ipsum dolor sit amet consecturer duis</p>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>

					<div class="grillman_imgtext light">
						<img src="../assets/images/about/grillman2.png" alt="" data-aos="fade-up" data-aos-duration="1000">
						<p>Flame Restaurant</p>
					</div>
				</div>
			</div> @*menyu hissesi*@

			<div class="section platter bg_image_8">
				<div class="container">
					<div class="platter_box" data-aos="zoom-out" data-aos-duration="1000">
						<div class="platter_title">
							<h4>Special Sea Food</h4>
							<h4>Platter</h4>
						</div>
						<div class="platter_box_item">
							<h6>Lobster Combo</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Grill Sea Food Joint</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Sea Food Platter</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Sea Food Buffet</h6>
							<p></p>
						</div>
					</div>
				</div>
			</div>



			<div class="blog_grid dark section_sm home_blog">
				<div class="container">
					<div class="section_header dark">
						<img src="../assets/images/title_back2.png" alt="">
						<h2 class="section_title">Latest Food Blogs</h2>
						<h6 class="section_sub_title">Read our restaurant food blogs to get tips & tricks of cooking</h6>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4">
							<article class="blog_post">
								<div class="post_img">
									<img src="../assets/images/blog/1.jpg" alt="blog">
									<div class="calendar">
										<a href="#">Aug <br> <span class="date">06</span></a>
									</div>
								</div>
								<div class="post_content">
									<div class="post_header">
										<div class="metalist">
											<span class="author"><a href="#">Dessert - By Zoyena Ross</a></span>
										</div>
										<h3 class="post_title">
											<a href="blog-details.html">Bread Jam Fusion</a>
										</h3>
									</div>
									<div class="post_intro">
										<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
									</div>
									<div class="post_footer">
										<div class="read_more">
											<a href="blog-details.html">See More</a>
										</div>
									</div>
								</div>
							</article>
						</div>

						<div class="col-lg-3 col-md-4">
							<article class="blog_post">
								<div class="post_img">
									<img src="../assets/images/blog/2.jpg" alt="blog">
									<div class="calendar">
										<a href="#">Aug <br> <span class="date">06</span></a>
									</div>
								</div>
								<div class="post_content">
									<div class="post_header">
										<div class="metalist">
											<span class="author"><a href="#">Dessert - Jacob Johnson</a></span>
										</div>
										<h3 class="post_title">
											<a href="blog-details.html">How to start food</a>
										</h3>
									</div>
									<div class="post_intro">
										<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
									</div>
									<div class="post_footer">
										<div class="read_more">
											<a href="blog-details.html">See More</a>
										</div>
									</div>
								</div>
							</article>
						</div>

						<div class="col-lg-3 col-md-4">
							<article class="blog_post">
								<div class="post_img">
									<img src="../assets/images/blog/3.jpg" alt="blog">
									<div class="calendar">
										<a href="#">Aug <br> <span class="date">06</span></a>
									</div>
								</div>
								<div class="post_content">
									<div class="post_header">
										<div class="metalist">
											<span class="author"><a href="#">Dessert - By Parker Noel</a></span>
										</div>
										<h3 class="post_title">
											<a href="blog-details.html">Fod serving art tips</a>
										</h3>
									</div>
									<div class="post_intro">
										<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
									</div>
									<div class="post_footer">
										<div class="read_more">
											<a href="blog-details.html">See More</a>
										</div>
									</div>
								</div>
							</article>
						</div>

						<div class="col-lg-3 col-md-4">
							<article class="blog_post">
								<div class="post_img">
									<img src="../assets/images/blog/4.jpg" alt="blog">
									<div class="calendar">
										<a href="#">Aug <br> <span class="date">06</span></a>
									</div>
								</div>
								<div class="post_content">
									<div class="post_header">
										<div class="metalist">
											<span class="author"><a href="#">Dessert - By Austin Ryan</a></span>
										</div>
										<h3 class="post_title">
											<a href="blog-details.html">Misnighr Snack Bars</a>
										</h3>
									</div>
									<div class="post_intro">
										<p>Lorem ipsum dolor sit amet, consectetur mod tempor indidunt ut labore et dolore magna aliqua. Ut enim ad...</p>
									</div>
									<div class="post_footer">
										<div class="read_more">
											<a href="blog-details.html">See More</a>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div> @*blog hissesi*@
